##Post EDA Reminders

* **Two tables only go up to 2018**
  * Tables and years:
    * rt.movie_info (1921 - 2018)
    * bom_movie_gross_df (2010-2018)
    * tmdb (1921 - 2020)
    * imdb movie_basics (2010 - 2115)
    * tn movie budget (1915 - 2020)

* **These do not have genre information:**
  * tn
  * bom

##Importing and reading in files

In [ ]:
# uploading files
# source: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92
from google.colab import files
uploaded = files.upload()

Saving rt.movie_info.tsv.gz to rt.movie_info.tsv.gz
Saving rt.reviews.tsv.gz to rt.reviews.tsv.gz
Saving tmdb.movies.csv.gz to tmdb.movies.csv.gz
Saving tn.movie_budgets.csv.gz to tn.movie_budgets.csv.gz

In [ ]:
import zipfile
import os

In [ ]:
import gzip

In [ ]:
#this was not helpful even though it ran
# still got an error when trying to read in with pandas
#with gzip.open('rt.movie_info.tsv.gz', 'r') as f:
    #file_content = f.read()

In [ ]:
ls

bom.movie_gross.csv.gz  rt.reviews.tsv.gz  tmdb.movies.csv.gz
rt.movie_info.tsv.gz    sample_data/       tn.movie_budgets.csv.gz

In [ ]:
import pandas as pd

In [ ]:
# Reading gzipped csv files
bom_movie_gross_df = pd.read_csv('bom.movie_gross.csv.gz', compression='gzip')
tmdb_movies_df = pd.read_csv('tmdb.movies.csv.gz', compression='gzip')
tn_movie_budgets_df = pd.read_csv('tn.movie_budgets.csv.gz', compression='gzip')

# Reading gzipped tsv files
rt_reviews_df = pd.read_csv('rt.reviews.tsv.gz', compression='gzip', delimiter='\t', encoding='ISO-8859-1')
rt_movie_info_df = pd.read_csv('rt.movie_info.tsv.gz', compression='gzip', delimiter='\t',  encoding='ISO-8859-1')

##Previewing `TMBD `
(Note: Yun already did EDA on this)

In [ ]:
tmdb_movies_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [ ]:
tmdb_movies_df['release_date'].value_counts()

2010-01-01    269
2011-01-01    200
2014-01-01    155
2012-01-01    155
2013-01-01    145
             ...
1980-06-25      1
1991-05-24      1
1997-02-07      1
1996-03-15      1
2018-05-26      1
Name: release_date, Length: 3433, dtype: int64

In [ ]:
# make a copy
tmdb_movies_df_copy = tmdb_movies_df.copy()

In [ ]:
# convert to date
tmdb_movies_df_copy['release_date'] = pd.to_datetime(tmdb_movies_df_copy['release_date'])

In [ ]:
# sanity check
tmdb_movies_df_copy['release_date'].dtypes

dtype('<M8[ns]')

In [ ]:
# sort by release date
tmdb_movies_df_copy.sort_values(by='release_date')

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
14335,14335,"[18, 10752]",143,en,All Quiet on the Western Front,9.583,1930-04-29,All Quiet on the Western Front,7.8,299
21758,21758,"[27, 53]",43148,en,The Vampire Bat,2.292,1933-01-21,The Vampire Bat,5.6,23
3580,3580,"[35, 18, 10749]",263768,fr,Le Bonheur,1.653,1936-02-27,Le Bonheur,8.7,3
26345,26345,[],316707,en,How Walt Disney Cartoons Are Made,0.600,1939-01-19,How Walt Disney Cartoons Are Made,7.3,3
11192,11192,"[18, 36, 10749]",887,en,The Best Years of Our Lives,9.647,1946-12-25,The Best Years of Our Lives,7.8,243
...,...,...,...,...,...,...,...,...,...,...
24819,24819,[18],481880,en,Trial by Fire,4.480,2019-05-17,Trial by Fire,7.0,3
24003,24003,"[18, 9648, 53]",411144,en,We Have Always Lived in the Castle,14.028,2019-05-17,We Have Always Lived in the Castle,5.2,24
24892,24892,[99],541577,en,This Changes Everything,3.955,2019-06-28,This Changes Everything,0.0,1
24265,24265,"[10749, 18]",428836,en,Ophelia,8.715,2019-06-28,Ophelia,0.0,4
26057,26057,"[27, 80, 80, 80, 80, 80, 80]",570704,en,Murdery Christmas,0.840,2020-12-25,Murdery Christmas,0.0,1

##Previewing `RT`

In [ ]:
rt_movie_info_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [ ]:
rt_movie_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

**Maybe to do: Might need to make a date time object for sorting purposes**

In [ ]:
rt_movie_info_df['theater_date'].dtypes

dtype('O')

In [ ]:
rt_reviews_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [ ]:
rt_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

**Ditto Maybe to do: Might need to make a date time object for sorting purposes**

In [ ]:
rt_reviews_df['date'].dtypes

dtype('O')

##Previewing `bom`

In [ ]:
bom_movie_gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
bom_movie_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [ ]:
bom_movie_gross_df['year'].value_counts()

2015    450
2016    436
2012    400
2011    399
2014    395
2013    350
2010    328
2017    321
2018    308
Name: year, dtype: int64

##Previewing `TN`

In [ ]:
tn_movie_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [ ]:
tn_movie_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

**Triple Ditto Maybe to do: ugh another date as an object**

##Making year columns for TN and RT

###TN

In [ ]:
# make a copy
tn_movie_budgets_df_copy = tn_movie_budgets_df.copy()

In [ ]:
# grab year from release_date column
tn_movie_budgets_df_copy['release_year'] = tn_movie_budgets_df_copy['release_date'].str.split(',').str[1]

In [ ]:
# sanity check
tn_movie_budgets_df_copy.head(3)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019

In [ ]:
# sanity check part 2
tn_movie_budgets_df_copy['release_year'].value_counts()

 2015    338
 2010    274
 2008    264
 2006    260
 2014    255
        ...
 1937      1
 1927      1
 1947      1
 1958      1
 1920      1
Name: release_year, Length: 96, dtype: int64

**To do: Looks good, but we can filter those old movies!**

###RT

In [ ]:
# make a copy
rt_movie_info_df_copy = rt_movie_info_df.copy()

In [ ]:
rt_movie_info_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [ ]:
# grab year from theater_date column
rt_movie_info_df_copy['theater_year'] = rt_movie_info_df_copy ['theater_date'].str.split(',').str[1]

In [ ]:
# sanity check
rt_movie_info_df_copy.head(1)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio,theater_year
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN,1971

In [ ]:
# sanity check part 2
# interesting! It did not convert to int64 this time!
rt_movie_info_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
 12  theater_year  1201 non-null   object
dtypes: int64(1), object(12)
memory usage: 158.6+ KB

Converting `theater_year` to int64

In [ ]:
# syntax from geeks for geeks
df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric)

In [ ]:
rt_movie_info_df_copy[['theater_year']] = rt_movie_info_df_copy[['theater_year']].apply(pd.to_numeric)

In [ ]:
# sanity check
rt_movie_info_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
 12  theater_year  1201 non-null   float64
dtypes: float64(1), int64(1), object(11)
memory usage: 158.6+ KB

omg why is it a float?!

In [ ]:
rt_movie_info_df_copy['theater_year'].value_counts()

2003.0    40
2000.0    38
2009.0    35
2001.0    35
2002.0    34
          ..
1926.0     1
1936.0     1
1921.0     1
1922.0     1
1961.0     1
Name: theater_year, Length: 91, dtype: int64

Second `rt `

In [ ]:
# make a copy
rt_reviews_df_copy = rt_reviews_df.copy()

In [ ]:
rt_reviews_df_copy.head(1)

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"

In [ ]:
# grab year from date column
rt_reviews_df_copy['year'] = rt_reviews_df_copy['date'].str.split(',').str[1]

In [ ]:
rt_reviews_df_copy.head(1)

,id,review,rating,fresh,critic,top_critic,publisher,date,year
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018",2018

In [ ]:
rt_reviews_df_copy['year'].value_counts()

 2000    4414
 2003    4293
 2002    4021
 2005    3763
 2004    3700
 2018    3501
 2009    2957
 2007    2848
 2006    2783
 2011    2667
 2008    2369
 2010    2306
 2016    2292
 2012    2177
 2017    2152
 2001    2082
 2014    2069
 2015    2035
 2013    1868
 1998      20
 1995      17
 1997      15
 1994      14
 1993      11
 1991      10
 1992      10
 1990       9
 1996       8
 1999       5
 1800       4
 1951       2
 1988       2
 1973       1
 1981       1
 1953       1
 1986       1
 1958       1
 1969       1
 1965       1
 1983       1
Name: year, dtype: int64

###Exporting to csv to play around in Tableau!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/rt_reviews_df_copy.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  rt_reviews_df_copy.to_csv(f)

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/rt_movie_info_df_copy.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  rt_movie_info_df_copy.to_csv(f)

In [ ]:
path = '/content/drive/My Drive/tn_movie_budgets_df_copy.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  tn_movie_budgets_df_copy.to_csv(f)

In [ ]:
path = '/content/drive/My Drive/bom_movie_gross_df.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  bom_movie_gross_df.to_csv(f)